
/* Your CSS Code here. */
body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
header, nav, section,summary , aside, footer {
        padding: 12px;
        margin-bottom: 12px;
        border: 1px solid #ccc;
    }
nav a {
        margin-right: 15px;
    }